### 데이터 수집 <hr>

In [221]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm

import os
import requests
import re
import time
import csv

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from selenium.webdriver import ActionChains

In [111]:
# 폰트 파일의 경로 지정
font_path = r'C:\Windows\Fonts\gulim.ttc'

In [112]:
# matplotlib 패키지에 한글 폰트 설정
myFont = fm.FontProperties(fname = font_path).get_name()
mpl.rc('font', family = myFont)

In [2]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("--user-data-dir=/path/to/your/chrome/profile")
chrome_options.add_argument("--disable-extensions")  # 확장 프로그램 비활성화
# chrome_options.add_argument('--headless')
# chrome_options.add_argument('--no-sandbox')
# chrome_options.add_argument('--disable-dev-shm-usage')

In [3]:
driver = webdriver.Chrome(options=chrome_options)

In [4]:
fieldnames = ['포스터', '제목', '장르', '러닝타임', '회원점수', '줄거리', '제작비', '수익', '감독']

In [5]:
# CSV 파일 열기
# with open('./DATA/movie_data2.csv', 'w', newline='', encoding='utf-8') as csvfile:
#     writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

#     # 헤더 추가
#     writer.writeheader()

In [6]:
path = pd.read_csv('./DATA/movie_path.csv', sep='\t')
paths = path['-href']
paths = paths+'?language=en-US'

In [7]:
# 각자 할 것 
hw_movie_paths= paths[2500:5000]
ha_movie_paths = paths[5000:7500]
dh_movie_paths = paths[7500:10000]

In [12]:
# ex ) for path in paths => for path in hw_movie_paths:
# 데이터 수집
for path in dh_movie_paths:
    driver.get(path)
    time.sleep(2)
    # 각 정보를 담을 리스트
    poster_list = []
    title_list = []
    genre_list = []
    duration_list = []
    score_list = []
    overview_list = []
    budget_list = []
    revenue_list = []
    director_list = []

    # 포스터 
    try:
        poster = driver.find_element(By.XPATH, '//*[@id="original_header"]/div[1]/div/div[1]/div/img').get_attribute('src')
        print(poster)
        poster_list.append(poster)
    except:
        poster = None
        print(poster)
        poster_list.append(poster)

    # 제목
    try:
        title = driver.find_element(By.XPATH, '//*[@id="original_header"]/div[2]/section/div[1]/h2/a').text
        print(title)
        title_list.append(title)
    except:
        title = None
        print(title)
        title_list.append(title)

    # 장르
    try:
        glist = []
        genres_elements = driver.find_elements(By.XPATH, './/a[starts-with(@href, "/genre/")]')
        for genre_element in genres_elements:
            glist.append(genre_element.text)
        print(glist)
        genre_list.append(', '.join(glist))
    except:
        genre_list.append(None)

    # 러닝타임
    try:
        duration = driver.find_element(By.CLASS_NAME, 'runtime').text
        print(duration)
        duration_list.append(duration)
    except:
        duration = None
        print(duration)
        duration_list.append(duration)

    # 회원 점수
    try:
        score_element = driver.find_element(By.XPATH, '//*[@id="consensus_pill"]/div/div[1]/div/div/div/span').get_attribute('class')
        score_value = int(re.search(r'\d+', score_element).group()) # 숫자만 추출하여 int형으로 저장
        print(score_value)
        score_list.append(score_value)
    except:
        score_value = None
        print(score_value)
        score_list.append(score_value)

    # 개요
    try:
        overview = driver.find_element(By.XPATH, '//*[@id="original_header"]/div[2]/section/div[3]/div/p').text
        print(overview)
        overview_list.append(overview)
    except:
        overview = None
        print(overview)
        overview_list.append(overview)

    # 제작비
    try:
        budget_element = driver.find_element(By.XPATH, '//*[@id="media_v4"]/div/div/div[2]/div/section/div[1]/div/section[1]/p[4]').text
        budget_text = re.sub(r'[^\d.]', '', budget_element)
        budget_value = float(budget_text.rsplit('.', 1)[0] + '.' + budget_text.rsplit('.', 1)[-1])
        print(budget_value)
        budget_list.append(budget_value)
    except:
        budget_value = None
        print(budget_value)
        budget_list.append(budget_value)

    # 수익
    try:
        revenue_element = driver.find_element(By.XPATH, '//*[@id="media_v4"]/div/div/div[2]/div/section/div[1]/div/section[1]/p[5]').text
        revenue_text = re.sub(r'[^\d.]', '', revenue_element)
        revenue_value = float(revenue_text.rsplit('.', 1)[0] + '.' + revenue_text.rsplit('.', 1)[-1])
        print(revenue_value)
        revenue_list.append(revenue_value)
    except:
        revenue_value = None
        print(revenue_value)
        revenue_list.append(revenue_value)

    
    # 감독
    try:
        director = driver.find_element(By.XPATH, '//*[@id="original_header"]/div[2]/section/div[3]/ol/li[1]/p[1]').text
        print(director)
        director_list.append(director)
    except:
        director = None
        print(director)
        director_list.append(director)
    
    # 데이터 프레임 생성
    df = pd.DataFrame({
        '포스터': poster_list,
        '제목': title_list,
        '장르': genre_list,
        '러닝타임': duration_list,
        '회원점수': score_list,
        '개요': overview_list,
        '제작비': budget_list,
        '수익': revenue_list,
        '감독': director_list
    })

    # 데이터 프레임 저장
    df.to_csv('./DATA/movie_data_dh.csv', mode='a', index=False, header=False)

https://media.themoviedb.org/t/p/w300_and_h450_bestv2/thYomS3wTYDTRZaM98ADMfBiDxm.jpg
Sleeping with Other People
['Comedy', 'Romance']
1h 40m
63
Can two serial cheaters get a second chance at love? After a one-night stand in college, New Yorkers Lainey and Jake meet by chance twelve years later and discover they each have the same problem: because of their monogamy-challenged ways, neither can maintain a relationship. Determined to stay friends despite their mutual attraction, they make a pact to keep it platonic, a deal that proves easier said than done.
3214116.0
None
Leslye Headland
https://media.themoviedb.org/t/p/w300_and_h450_bestv2/3rViQPcrWthMNecp5XnkKev6BzW.jpg
Velvet Buzzsaw
['Thriller', 'Mystery', 'Horror']
1h 53m
54
Big money artists and mega-collectors pay a high price when art collides with commerce. After a series of paintings by an unknown artist are discovered, a supernatural force enacts revenge on those who have allowed their greed to get in the way of art.
None
None
Dan Gilroy

In [27]:
moviedhDF = pd.read_csv('./DATA/movie_data_dh.csv')
moviedhDF['포스터']

0       https://media.themoviedb.org/t/p/w300_and_h450...
1       https://media.themoviedb.org/t/p/w300_and_h450...
2       https://media.themoviedb.org/t/p/w300_and_h450...
3       https://media.themoviedb.org/t/p/w300_and_h450...
4       https://media.themoviedb.org/t/p/w300_and_h450...
                              ...
2495    https://media.themoviedb.org/t/p/w300_and_h450...
2496    https://media.themoviedb.org/t/p/w300_and_h450...
2497    https://media.themoviedb.org/t/p/w300_and_h450...
2498    https://media.themoviedb.org/t/p/w300_and_h450...
2499    https://media.themoviedb.org/t/p/w300_and_h450...
Name: 포스터, Length: 2500, dtype: object

In [28]:
moviedhDF.columns

Index(['포스터', '제목', '장르', '러닝타임', '회원점수', '줄거리', '제작비', '수익', '감독'], dtype='object')

In [100]:
df = pd.read_csv('./DATA/movie_data_all.csv', index_col = False, header = None)
df.shape

(9300, 9)

In [101]:
len(df.columns)

9

In [102]:
df1 = df.iloc[:7222]

In [103]:
df1.head()

,0,1,2,3,4,5,6,7,8
0,https://media.themoviedb.org/t/p/w300_and_h450...,Dune: Part Two,"Science Fiction, Adventure",2h 47m,83.0,Follow the mythic journey of Paul Atreides as ...,666813734.0,NaN,Denis Villeneuve
1,https://media.themoviedb.org/t/p/w300_and_h450...,Kung Fu Panda 4,"Animation, Action, Adventure, Comedy, Family",1h 34m,71.0,Po is gearing up to become the spiritual leade...,410255055.0,NaN,Mike Mitchell
2,https://media.themoviedb.org/t/p/w300_and_h450...,Godzilla x Kong: The New Empire,"Action, Science Fiction, Adventure, Fantasy",1h 55m,67.0,"Following their explosive showdown, Godzilla a...",361305986.0,NaN,Adam Wingard
3,https://media.themoviedb.org/t/p/w300_and_h450...,Alienoid,"Science Fiction, Action, Fantasy, Adventure",2h 22m,71.0,Gurus in the late Goryeo dynasty try to obtain...,24500000.0,12600000.0,Choi Dong-hoon
4,https://media.themoviedb.org/t/p/w300_and_h450...,The Wages of Fear,"Action, Thrillerp",1h 47m,60.0,When an explosion at an oil well threatens hun...,NaN,NaN,Julien Leclercq

In [104]:
df1.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [105]:
df1.columns = ['포스터', '제목', '장르', '러닝타임', '회원점수', '줄거리', '제작비', '수익', '감독']

In [106]:
df1.columns

Index(['포스터', '제목', '장르', '러닝타임', '회원점수', '줄거리', '제작비', '수익', '감독'], dtype='object')

In [81]:
# 내꺼 제외한 나머지 3명의 데이터 저장
df1.to_csv('./DATA/remainder_data.csv', index = False)

In [84]:
df1 = pd.read_csv('./DATA/remainder_data.csv')
df2 = pd.read_csv('./DATA/movie_data_dh.csv')

In [85]:
# 각각의 데이터를 전부 병합
df = pd.concat([df1, df2])
df.shape

(9722, 9)

In [87]:
# 데이터 저장
df.to_csv('./DATA/movie_data.csv', index = False)

### 데이터 전처리 <hr>

In [296]:
movieDF = pd.read_csv('./DATA/movie_data.csv')
movieDF.head()

,포스터,제목,장르,러닝타임,회원점수,줄거리,제작비,수익,감독
0,https://media.themoviedb.org/t/p/w300_and_h450...,Dune: Part Two,"Science Fiction, Adventure",2h 47m,83.0,Follow the mythic journey of Paul Atreides as ...,666813734.0,NaN,Denis Villeneuve
1,https://media.themoviedb.org/t/p/w300_and_h450...,Kung Fu Panda 4,"Animation, Action, Adventure, Comedy, Family",1h 34m,71.0,Po is gearing up to become the spiritual leade...,410255055.0,NaN,Mike Mitchell
2,https://media.themoviedb.org/t/p/w300_and_h450...,Godzilla x Kong: The New Empire,"Action, Science Fiction, Adventure, Fantasy",1h 55m,67.0,"Following their explosive showdown, Godzilla a...",361305986.0,NaN,Adam Wingard
3,https://media.themoviedb.org/t/p/w300_and_h450...,Alienoid,"Science Fiction, Action, Fantasy, Adventure",2h 22m,71.0,Gurus in the late Goryeo dynasty try to obtain...,24500000.0,12600000.0,Choi Dong-hoon
4,https://media.themoviedb.org/t/p/w300_and_h450...,The Wages of Fear,"Action, Thrillerp",1h 47m,60.0,When an explosion at an oil well threatens hun...,NaN,NaN,Julien Leclercq

In [297]:
movieDF.shape

(9722, 9)

In [298]:
movieDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9722 entries, 0 to 9721
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   포스터     9704 non-null   object
 1   제목      9721 non-null   object
 2   장르      9692 non-null   object
 3   러닝타임    9605 non-null   object
 4   회원점수    9691 non-null   object
 5   줄거리     9691 non-null   object
 6   제작비     5917 non-null   float64
 7   수익      902 non-null    object
 8   감독      9690 non-null   object
dtypes: float64(1), object(8)
memory usage: 683.7+ KB

#### 중복 데이터 처리

In [299]:
# 중복 데이터 없음
movieDF = movieDF.drop_duplicates()
movieDF.shape

(9722, 9)

#### 결측치 처리

In [300]:
# 제목 결측된 데이터는 한개=> 'non title(missing)'으로 수정
movieDF['제목'] = movieDF['제목'].fillna('non title(missing)')

In [301]:
# 제목 결측 데이터 없는지 확인
movieDF['제목'].isna().sum()

0

In [302]:
movieDF['포스터'].isna().sum()

18

In [303]:
movieDF['포스터'].isna().sum()

18

In [304]:
# 포스터 결측된 데이터 제거
movieDF.dropna(subset = ['포스터'], inplace = True)

In [305]:
# 포스터 결측 데이터 없는지 확인
movieDF['포스터'].isna().sum()

0

In [306]:
movieDF.shape

(9704, 9)

In [314]:
# 인덱스 정렬
movieDF.reset_index(drop = True, inplace = True)

In [315]:
movieDF.loc[1382, '포스터']

'https://media.themoviedb.org/t/p/w300_and_h450_bestv2/cdm17vK8PxHfTi7ayZf6WKbOgUO.jpg'

#### url을 사용하여 이미지 파일 다운로드

In [316]:
import os
import requests

def download_image(save_folder, df = movieDF):
    
    try:
        if not os.path.exists(save_folder):
            os.makedirs(save_folder)
            # print(f"폴더가 생성되었습니다: {save_folder}")
        else:
            print(f"폴더가 이미 존재합니다: {save_folder}")
    except Exception as e:
        print(f"폴더 생성에 실패하였습니다: {str(e)}")
    
    for ind in range(movieDF.shape[0]):
        file_name = str(ind) + '.jpg'
        url = df.loc[ind, '포스터']
        save_path = os.path.join(save_folder, file_name)
    
        # 이미지 다운로드
        response = requests.get(url)
        if response.status_code == 200:
            with open(save_path, 'wb') as f:
                f.write(response.content)
            #print(f"이미지 다운로드 완료: {save_path}")
        else:
            print("이미지를 다운로드할 수 없습니다.")

In [317]:
# 이미지를 저장할 폴더 경로
save_folder = './DATA/Poster image/'

download_image(save_folder)